.drawing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personabox {
  display: flex;
  flex-direction: row;
}

.personaimage {}

.assessment {
  width: 400px;
}
